<!DOCTYPE html>
<%= flash[:alerts].join("<br>").html_safe if flash[:alerts] %>

<% if current_user %>
  <%= button_to "Log Out", session_url, method: :delete %>
  <br>
  <b><i>You are currently logged in as <%= current_user.username %></b></i>
<% end %>

<html>
<head>
  <title>DoThings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
